* {
  box-sizing: border-box;
}

.depth2Frame0 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 4px;
  background: #121417;
  padding: 20px 24px;
  width: 1280px;
  height: 1421px;

  .tradeWise {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 24px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .depth4Frame0 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    background: #121417;
    padding: 16px;
    width: 320px;
    min-width: 320px;
    min-height: 700px;

    .depth7Frame0 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      padding: 8px 12px;
    }

    .depth5Frame0 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 16px;

      .depth6Frame1 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .dashboard {
          flex-shrink: 0;
          line-height: 21px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .depth9Frame0 {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .depth7Frame2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;
          border-radius: 8px;
          background: #293038;
          padding: 8px 12px;
        }
      }
    }
  }

  .depth3Frame1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    max-width: 960px;
    overflow: hidden;

    .day1 {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0;
      color: #9eabba;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 700;
    }

    .a12500 {
      display: -webkit-box;
      flex-shrink: 0;
      align-self: stretch;
      overflow: hidden;
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 700;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .depth6Frame2 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 4px;

      .last30Days {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #9eabba;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .a15 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #0ad95c;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .analytics {
      flex-shrink: 0;
      padding: 16px 604px 16px 16px;
      width: 908px;
      line-height: 40px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
      font-weight: 700;
    }

    .performanceOverview {
      flex-shrink: 0;
      align-self: stretch;
      padding: 20px 16px 12px;
      width: 908px;
      line-height: 28px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 22px;
      font-weight: 700;
    }

    .depth4Frame2 {
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 16px;
      padding: 24px 16px;
      row-gap: 16px;

      .depth5Frame02 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border: 1px solid #3b4754;
        border-radius: 8px;
        padding: 23px;
        min-width: 288px;
        row-gap: 8px;

        .depth6Frame3 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          padding-top: 16px;
          padding-bottom: 16px;
          min-height: 180px;
          row-gap: 32px;

          .depth7Frame02 {
            flex-shrink: 0;
            align-self: stretch;
            width: 826px;
            height: 148px;
            overflow: hidden;
          }

          .depth7Frame1 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
          }
        }
      }
    }

    .depth4Frame4 {
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 16px;
      padding: 24px 16px;
      row-gap: 16px;

      .sessionB {
        flex-shrink: 0;
        width: 65px;
        line-height: 20px;
        letter-spacing: 0;
        color: #9eabba;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 700;
      }

      .sessionA {
        flex-shrink: 0;
        align-self: stretch;
        padding: 0px 0px 16px;
        width: 65px;
        line-height: 20px;
        letter-spacing: 0;
        color: #9eabba;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 700;
      }

      .depth8Frame1 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;

        .depth9Frame03 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          border-width: 0px 2px 0px 0px;
          border-style: solid;
          border-color: #757575;
          background: #293038;
          width: 239px;
        }
      }

      .depth5Frame03 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border: 1px solid #3b4754;
        border-radius: 8px;
        padding: 23px;
        min-width: 288px;
        row-gap: 8px;

        .depth6Frame32 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-top: 12px;
          padding-bottom: 12px;
          min-height: 180px;
          row-gap: 24px;

          .depth7Frame03 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;

            .depth9Frame02 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              align-self: stretch;
              border-width: 0px 2px 0px 0px;
              border-style: solid;
              border-color: #757575;
              background: #293038;
            }
          }

          .depth7Frame12 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;
          }

          .depth7Frame22 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;

            .depth8Frame12 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              align-self: stretch;

              .depth9Frame04 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                border-width: 0px 2px 0px 0px;
                border-style: solid;
                border-color: #757575;
                background: #293038;
                width: 120px;
              }
            }
          }
        }
      }

      .depth5Frame1 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border: 1px solid #3b4754;
        border-radius: 8px;
        padding: 23px;
        min-width: 288px;
        row-gap: 8px;

        .depth6Frame33 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-top: 12px;
          padding-bottom: 12px;
          min-height: 180px;
          row-gap: 24px;

          .depth7Frame04 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;
          }

          .depth7Frame13 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;

            .depth8Frame13 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              align-self: stretch;

              .depth9Frame05 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                border-width: 0px 2px 0px 0px;
                border-style: solid;
                border-color: #757575;
                background: #293038;
                width: 269px;
              }
            }
          }

          .depth7Frame23 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            column-gap: 16px;

            .depth8Frame14 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              align-self: stretch;

              .depth9Frame06 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                border-width: 0px 2px 0px 0px;
                border-style: solid;
                border-color: #757575;
                background: #293038;
                width: 150px;
              }
            }
          }
        }
      }

      .depth5Frame2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border: 1px solid #3b4754;
        border-radius: 8px;
        padding: 23px;
        min-width: 288px;
        row-gap: 8px;

        .depth6Frame34 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 24px;
          padding-right: 12px;
          padding-left: 12px;
          min-height: 180px;

          .depth7Frame05 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-end;
            row-gap: 24px;

            .depth8Frame0 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              border-width: 2px 0px 0px;
              border-style: solid;
              border-color: #757575;
              background: #293038;
              height: 137px;
            }
          }
        }
      }
    }
  }
}
